.manageSpotButtons {
    color: white;
    background-color: gray;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    padding: 3px 5px;
    margin-right: 3%;
    margin-top: 1%;
    cursor: pointer;
    text-decoration: none;
    font-size: 95%;
    transition: box-shadow 0.5s ease;
}

.manageSpotButtons:hover {
    box-shadow: none;
    background-color: rgb(25, 142, 219);
}

#createButton {
    text-decoration: none;
    background-color: gray;
    color: white;
    box-shadow: 3px 3px black;
    border: 2px solid black;
    padding: 5px;
    margin-left: 2.5%;
    transition: box-shadow 0.5s ease;
}

#createButton:hover {
    box-shadow: none;
    background-color: rgb(25, 142, 219);
}

#manageSpotsHeading {
    margin-left: 2.5%;
}

#noSpots {
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: black;
}
