.signupSubmit {
    color: white;
    width: 40vh;
    height: 5vh;
    background-color: rgb(211, 67, 87);
    box-shadow: 5px 5px black;
    cursor: pointer;
    margin: 2.5vh 1.5vh;
    font-size: 105%;
    transition: background-color 0.4s ease;
}

.signupSubmit:hover {
    background-color: rgb(25, 142, 219);
}

.signupSubmit:disabled {
    background-color: rgba(212, 211, 211, 0.918);
    color: rgb(122, 122, 122);
    cursor: not-allowed;
    box-shadow: 5px 5px rgb(122, 122, 122);
    font-size: 105%;
}

#signupForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 430px;
}

#signupInput {
    width: 40vh;
    height: 3vh;
    margin: 1vh;
    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
