#deleteButton {
    background-color: red;
}

#dontDeleteButton {
    cursor: pointer;
}

#deleteSpotHead {
    display: flex;
    justify-content: center;
}

#deleteSpotBlurb {
    font-size: 70%;
}
