.bottomDetail {
    display: grid;
    grid-template-areas: "name box"
        "description box";
    margin-top: 20px;
}

.detailImages {
    display: grid;
    grid-template-areas: "preview img2 img3"
        "preview img4 img5";
    grid-gap: 3px;
}

.reserveBox {
    border: 2px solid black;
    display: grid;
    grid-template-columns: 50% 20% 5% 20%;
    grid-template-areas: "price rating dot reviews"
        "button button button button";
    grid-area: box;
    padding: 15px;
    height: 80px;
    border-radius: 5%;
}

.spotPage {
    max-width: 1000px;
    margin: 0 auto;
}

#prevImg {
    width: 500px;
    height: 343px;
    grid-area: preview;
}

#spotName {
    display: flex-start;
    justify-content: flex-start;
}

#detailImage2 {
    grid-area: img2;
    width: 250px;
    height: 170px;
}

#detailImage3 {
    grid-area: img3;
    width: 250px;
    height: 170px;
}

#detailImage4 {
    grid-area: img4;
    width: 250px;
    height: 170px;
}

#detailImage5 {
    grid-area: img5;
    width: 250px;
    height: 170px;
}

#detailPrice {
    grid-area: price;
}

#detailRating {
    grid-area: rating;
}

#detailReviews {
    grid-area: reviews;
}

#detailsButton {
    grid-area: button;
    background-color: rgb(226, 87, 106);
    color: white;
    cursor: pointer;
}

#detailName {
    grid-area: name;
    width: 500px;
}

#detailDescription {
    grid-area: description;
    width: 500px;
}

#detailsCircle {
    font-size: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reviewsHeading {
    display: flex;
    flex-direction: row;
    width: 150px;
    justify-content: space-around;
}

#reviewName {
    font-weight: bold;
    font-size: 130%;
}

#fullReview {
    margin-bottom: 2%;
}

#detailsCircle1 {
    font-size: 4px;
    display: flex;
    grid-area: dot;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
