.gridArea {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.homePageSpots {
    flex: 1;
    margin: 2%;
    max-width: 80%;
}

.spotImage {
    grid-area: image;
    width: 100%;
    height: 25vh;
    border-radius: 8px;
}

.spotLocation {
    grid-area: location;
    margin-top: 2%;
    width: 90%;
}

.spotRating {
    grid-area: reviews;
    margin-top: 4%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.spotPrice {
    grid-area: price;
    margin-top: 2%;
}

#spotLink {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-areas: "image image"
        "location reviews"
        "price .";
}
