.gridArea {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.homePageSpots {
    flex: 1;
}

.spotImage {
    grid-area: image;
    width: 300px;
    height: 250px;
    border-radius: 8px;
}

.spotLocation {
    grid-area: location;
    margin-top: 2%;
    width: 90%;
}

.spotRating {
    grid-area: reviews;
    margin-top: 4%;
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.spotPrice {
    grid-area: price;
    margin-top: 3%;
}

#spotLink {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-areas: "image image"
        "location reviews"
        "price .";
    max-width: 220px;
    max-height: 300px;
    margin-bottom: 3%;
}
