.gridArea {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    margin-top: 25px;
}

.spotImage {
    grid-area: image;
    width: 220px;
    height: 220px;
}

.spotLocation {
    grid-area: location;
    margin-top: 5px;
    width: 180px;
}

.spotRating {
    grid-area: reviews;
    margin-top: 5px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 5px;
}

.spotPrice {
    grid-area: price;
    margin-top: 5px;
}

#spotLink {
    text-decoration: none;
    color: black;
    display: grid;
    grid-template-areas: "image image"
        "location reviews"
        "price .";
    max-width: 220px;
    max-height: 300px;
    margin-bottom: 30px;
}
