#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#loginInput {
    width: 40vh;
    height: 3vh;
    margin: 1vh;
    border: 3px solid black;
    border-radius: 8px;
}

p {
    color: red;
}

.loginButton:disabled {
    background-color: white;
    color: black;
    cursor: not-allowed;
    width: 350px;
}

.demoUser {
    background-color: white;
    border: none;
    text-decoration: underline;
    font-size: 150%;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.demoUser:hover {
    color: rgb(27, 164, 206);
}

.loginButton {
    background-color: rgb(211, 67, 87);
    color: white;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    width: 350px;
    height: 50px;
    margin-bottom: 8%;
    margin-top: 5%;
    cursor: pointer;
    box-shadow: 3px 3px black;
    transition: background-color 0.4s ease;
}

.loginButton:hover {
    background-color: rgb(25, 142, 219);
}

.loginTitle {
    margin-bottom: 3px;
}
