form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    width: 400px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
}

h1,
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    color: red;
}

button:disabled {
    background-color: rgba(150, 150, 150, 0.918);
    cursor: not-allowed;
}

.demoUser {
    background-color: white;
    border: none;
    text-decoration: underline;
    font-size: 150%;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    cursor: pointer;
}

.loginButton {
    background-color: rgb(80, 70, 177);
    color: white;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
    width: 410px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 10%;
    cursor: pointer;
}
